<article class="mb-3">
  <label [for]="labelTitle" class="mb-1"> Select {{ labelTitle }} </label>
  <select
    class="form-select"
    aria-label="Default select example"
    [id]="labelTitle"
    (change)="getSelectedValue()"
    [(ngModel)]="selectedOption"
  >
    <option value="" selected>Any {{ labelTitle }}</option>
    <option
      name="category"
      ngDefaultControl
      *ngFor="let option of SelectOptionsArray"
      [value]="option.id"
    >
      {{ option?.name }}
    </option>
  </select>
</article>
